<!DOCTYPE html>
<html lang="en" itemscope itemtype="https://schema.org/WebPage">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="DSL Developer Kit">
    <meta name="description" content="An open source tool box for developing DSLs with Xtext.">
    <title>DSL DevKit / {{ page.title }}</title>

    <meta name="og:title" content="DSL DevKit / {{page.title}}"/>
    <meta name="og:description" content="An open source tool box for developing DSLs with Xtext."/>
  </head>
  <body>

  	{{ content }}

  </body>
</html>